# Dataset dan file hasil preprocessing
data/
*.npy
*.npz
*.h5
*.sgy
*.segy

# Output model dan hasil prediksi
outputs/
*.pt
*.pth
*.hdf5
*.ckpt
*.onnx

# Folder lingkungan virtual (virtual environment)
env/
.venv/

# Cache Python dan log
__pycache__/
*.pyc
*.pyo
*.log

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# Konfigurasi editor lokal
.vscode/

# OS / sistem file
.DS_Store
Thumbs.db
